<% layout('./layout/boilerplate')%>
    <div class="container my-3">
        <div class="row">
            <div class="col-6 my-3 offset-3">
                <div class="card">
                    <h3 class="card-title my-3 px-3">
                        ERROR CODE : <%=status%>
                    </h3>
                    <hr>
                    <p class="card-text px-2 my-3">
                        <%=message%>
                    </p>
                </div>
            </div>
        </div>
    </div>