<% layout('./layout/boilerplate')%>
    <!-- <div class="container-fluid vh-100">
        <div class="mx-auto my-auto" style="width: 200px; height: 400">
            <h1 class="text-center my-auto mx-auto">ToDO</h1>
        </div>
        <div class="col-6 offset-1">
            <img src="https://images.inc.com/uploaded_files/image/1920x1080/getty_638884198_366705.jpg" alt=""
                style="width: 1600px; height: 1000px">
        </div>

    </div> -->
    <div class="container d-flex justify-content-center align-items-center flex">
        <h4 class="my-auto mx-auto align-self-center">Welcome</h4>
    </div>
    <style>
        body {
            background-image: url("https://images.inc.com/uploaded_files/image/1920x1080/getty_638884198_366705.jpg");
        }
    </style>